// Imports
@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);

// Colors

// Primary
$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);

//Neutral
$veryDarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45%);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

// Typography

// Font size
$bodySize: 16px;

// Font family
$bodyFont: "Kumbh Sans", sans-serif;

// Font weight
$lightWeight: 400;
$heavyWeight: 700;