@import "variables";

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    font-family: $bodyFont;
    font-weight: $lightWeight;
    display: flex;
    justify-content: center;
}

main{
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: 
    "nav"
    "content";
    row-gap: 40px;
}

nav{
    display: flex;
    grid-area: nav;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    color: $darkGrayishBlue;
    border-bottom: 2px solid $grayishBlue;
    ul{
        display: flex;
        gap: 40px;
        align-items: center;
        padding: 0;
        li{
            text-decoration: none;
            list-style-type: none;
        }
        a{
            text-decoration: none;
            &:visited{
                color: inherit;
                text-decoration: none;
            }
        }
    }
    .logo{
        width: auto;
        height: 30px;
    }
    .user{
        display: flex;
        align-items: center;
        gap: 50px;
        .cart{
            width: auto;
            height: 25px;
            cursor: pointer;
        }
        .avatar{
            width: auto;
            height: 50px;
            cursor: pointer;
        }
    }
}

.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    grid-area: content;
    .productPreview{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr .2fr;
        justify-items: center;
        align-items: center;
        row-gap: 40px;
        .displayImage{
            display: flex;
            justify-content: center;
            align-items: center;
            .productImage{
                width: auto;
                height: 600px;
                border-radius: 15px;
                cursor: pointer;
            }
        }
        .carousel{
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 0 11% 0 11%;
            img{
                width: auto;
                height: 130px;
                border-radius: 15px;
                cursor: pointer;
                outline: none;
                &:hover{
                    filter: opacity(30%);
                    border: 4px solid $orange;
                    transition: .2s;
                }
            }
        }
    }
    .productInformation{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 1fr .4fr;
        padding: 11%;
        .infoSection{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .subText{
                text-transform: uppercase;
                color: $orange;
                font-size: 14px;
                letter-spacing: 3px;
                font-weight: $heavyWeight;
            }
            h1{
                font-size: 3rem;
            }
            .productDescription{
                color: $darkGrayishBlue;
                padding-right: 20%;
                line-height: 25px;
            }
            .priceSection{
                display: flex;
                align-items: center;
                gap: 20px;
                .price{
                    font-weight: $heavyWeight;
                }
                .discount{
                    background-color: $paleOrange;
                    color: $orange;
                    font-weight: $heavyWeight;
                    padding: 2px 10px 2px 10px;
                    border-radius: 4px;
                }
            }
            .oldPrice{
                color: $grayishBlue;
                text-decoration: line-through;
                font-weight: $heavyWeight;
            }
        }
        .orderSection{
            display: flex;
            align-items: center;
            .count{
                button{
                    background-color: $lightGrayishBlue;
                    outline: none;
                    border: none;
                    border-radius: 15px;
                    width: 150px;
                    padding: 17px 0 17px 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    font-weight: $heavyWeight;
                    font-family: inherit;
                    img{
                        cursor: pointer;
                    }
                }
            }
            .addToCart{
                button{
                    display: flex;
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;
                    width: 300px;
                    padding: 15px 0 15px 0;
                    border: none;
                    border-radius: 15px;
                    outline: none;
                    margin-left: 10px;
                    background-color: $orange;
                    color: $white;
                    font-family: inherit;
                    font-weight: $heavyWeight;
                    filter: drop-shadow(10px 10px 4px $paleOrange);
                    img{
                        filter: brightness(100);
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}